@model anime_site.Models.UserDetails
@{
    ViewBag.Title = "Login";
}


<main aria-labelledby="title">


    <h1 class="my-titles">@ViewBag.Title</h1>
    @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post))
    {
        <div class="left-forms">

            <label for="username"> Username</label><br />
            <input type="text" id="username" name="username" /><br />
            @Html.ValidationMessageFor(u => u.username, "", new { @class = "warning-text" })<br />

            <label for="password"> Password</label><br />
            <input type="password" id="password" name="password" /><br />
            @Html.ValidationMessageFor(p => p.password, "", new { @class = "warning-text" })<br />
            <div class="warning-text"> @ViewBag.Warning</div>
        </div>
        <center>
            <input type="submit" value="Submit" />
            <div class="warning-text"> @ViewBag.Message</div>
        </center>
    }

</main>
