@model anime_site.Models.UserDetails

@{
    ViewBag.Title = "Register";
}

<main aria-labelledby="title">
    <div class="form-position">

        @using (Html.BeginForm("Register", "UserAccount", FormMethod.Post, new { spellcheck = "false"}))
        {
            <div class="form-container">
                <h2 class="form-titles" id="title">@ViewBag.Title</h2>
                <div class="form-group">
                    <label for="username"> Username</label><br />
                    <input type="text" id="username" name="username" /><br />

                    @Html.ValidationMessageFor(u => u.username, "", new { @class = "warning-text" })<br />
                </div>

                <div class="form-group">
                    <label for="password"> Password</label><br />
                    <input type="password" id="password" name="password" /><br />
                    @Html.ValidationMessageFor(x => x.password, "", new { @class = "warning-text" })<br />
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label><br />
                    <input type="password" id="confirm-password" name="ConfirmPassword" /><br />
                    <div class="warning-text">@ViewBag.Warning</div><br />
                </div>
                <input type="submit" value="Submit" />
                <div class="reg-success">@ViewBag.SuccessMessage</div>

            </div>
            
        }
    </div>
</main>